{% include svg-icons.html %}
<!--APlayer-->
<!-- <script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script> -->
{% if site.footer-text %}
<p>{{ site.footer-text }}</p>
<p id="hitokoto"><a href="#" id="hitokoto_text">:D 获取中...</a></p>
<script>
    fetch('https://v1.hitokoto.cn')
      .then(response => response.json())
      .then(data => {
        const hitokoto = document.getElementById('hitokoto_text')
        hitokoto.href = 'https://hitokoto.cn/?uuid=' + data.uuid
        hitokoto.innerText = data.hitokoto
      })
      .catch(console.error)
  </script>
{% endif %}