<!DOCTYPE html>
<html>
  <!--Link modify-->
  <script type="text/javascript">
    $(document).ready(function() {
        //为超链接加上target='_blank'属性
      $('a[href^="http"]').each(function() {
        $(this).attr('target', '_blank');
      });
    });
  </script>
  {% include head.html %}
  <body>
    {% include nav.html %}

    {% if page.toc==true %}
      <aside class="toc">
        {% include toc.html html=content %}
      </aside>
    {% endif %}

    <div id="main" role="main" class="wrapper-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include analytics.html %}
  </body>

  {% if page.toc==true %}
  <script>
    document.getElementById("main").classList.add("withtoc");
  </script>
  {% endif %}

  <div class="wrapper-footer-mobile">
    <footer class="footer">
      {% include footer.html %}
    </footer>


</html>
